.picture {
    background-image: url('../img-about/people.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 30px;
    >p {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 13px;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.8;
        text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
    }
}

@media (min-width: 768px) {
    .picture {
        margin-top: 60px;
        padding-top: 89px;
        padding-bottom: 89px;
        margin-bottom: 30px;
        >p {
            font-size: 46px;
            line-height: 56px;
            letter-spacing: 63px;
        }
    }
}

@media (min-width: 992px) {
    .picture {
        padding-top: 104px;
        padding-bottom: 104px;
        >p {
            font-size: 86px;
            line-height: 105px;
        }
    }
}

@media (min-width: 1300px) {
    .picture {
        padding-top: 163px;
        padding-bottom: 158px;
        >p {
            font-size: 96px;
            line-height: 117px;
        }
    }
}