.titleandbutton {
    padding-top: 129px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.titleandbutton__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #FFFFFF;
    width: 300px;
    margin-bottom: 159px;
    align-self: center;
    text-align: center;
}

.titleandbutton__button {
    cursor: pointer;
    background-image: url('../img/scroll.svg');
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: none;
    align-self: center;
}

.titleandbutton__button:hover {
    background-image: url('../img/scrollpink.svg');
}

@media (min-width: 768px) {

    .titleandbutton {
        padding-top: 269px;
        padding-bottom: 70px;
    }

    .titleandbutton__title {
        margin-bottom: 417px;
        width: auto;
    }
}

@media (min-width: 992px) {
    .titleandbutton {
        padding-top: 245px;
        padding-bottom: 90px;
    }

    .titleandbutton__title {
        margin-bottom: 289px;
    }
}

@media (min-width: 1300px) {
    .titleandbutton {
        padding-top: 261px;
    }

    .titleandbutton__title {
        margin-bottom: 305px;
    }
}